.m-metric-guidance-toggle {
  display: block;
  height: 24px;
  width: 24px;
  position: relative;
  margin: auto;
  margin-top: -2px;
  right: -6px;
}

.a-metric-guidance-expand, .a-metric-guidance-collapse {
  display: block;
}

.a-metric-guidance-expand {
  text-decoration: none;
}

.a-metric-guidance-collapse {
  text-decoration: none;
}

.a-metric-guidance {
  margin: $gutter-one-third 0;
}
